html ,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#content {
    padding: 0;
}
#mapplay {
    height:calc(100% - 104px);
    width: 100%;
    position:absolute;
    left:0;
}
#validateLocation{
    padding-top: .6em;
    padding-bottom: .6em;
    display:none;
}
.successfulattempt1::after{
    background-color: #5cd053 !important;
}
.failedattempt1::after{
    background-color:#d45252 !important;
}
h1, h2, h3, h4, h5, h6{
    line-height:inherit;
    color:white;
}
.ui-listview>.ui-li-static, .ui-listview>.ui-li-divider, .ui-listview>li>a.ui-btn,.ui-btn,[data-role="popup"] .ui-title{
    white-space:normal !important;
}
.portrait, .portrait #mappage {
    min-height: 0;
}
#navigation {
    position: absolute;
    top: -80px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding:1px;
}
#navigation button {
    display: block;
    height: 1.375em;
    width: 1.375em;
    font-size: 1.14em;
    background-image: none;
    margin:1px;
    padding:0;
}
#searchpanel .ui-panel-inner {
    margin-top:100px;
} 
.ui-panel-inner {
    margin-top:48px;
}
.ui-popup{
    max-width: 400px;
    min-width: 250px;
}
.ui-popup-container [data-role="content"]{
    overflow-y:auto;
    overflow-x:hidden;
}
[data-role="popup"] .ui-title{
    margin: 0 40px;
}
.center-wrapper,.ui-footer{
    text-align: center;
}

#title, #tags, #shortdesc {
    display: none;
}
/*.ui-icon-check {
    opacity: 0.3;
}*/
.checked {
    opacity: 1;
}
.unchecked {
    opacity: 0.3;
}
.ui-panel-inner {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.custom-count-pos{
    font-size: 11px;
    font-weight: bold;
    padding: 0.2em 0.5em;
    float: right;
}
.toast{
    display: block;
    opacity: 0.90;
    position: fixed;
    padding: 7px;
    text-align: center;
    width: 270px;
    background-color:black;
}
