html, body
{
    height: 100%;
}
#treasurehunt_editor{
    width: 100%;
}
#edition label {
    display: inline-block; margin: 0 auto; /*width: 5%;*/ 
}
/*Si no se me pone un background-image posterior*/
.treasurehunt_editor button{
    background-image: none;
}
#addRiddle, #addRoad{margin:0 auto; margin-left: 1%;margin-right:1%;}
#saveRiddle,#removeFeature {margin:0 auto;margin-left: 1%; }
#controlPanel{margin:0 auto}
#map_global{position: relative;overflow: hidden;padding-bottom: 54%; }
#map{position: absolute;top: 0;left: 0;width: 100% ;height: 100% ;}
/*Selectable y sortable*/
div#riddleListPanel_global{position: relative;float:left;width: 150px; padding-bottom: 54%; max-width: 60%; min-width: 100px;}
div#riddleListPanel { width: 100%; height: 100%; position: absolute; top:0;left:0;bottom: 0;margin:0 auto; overflow-x: hidden;overflow-y:auto;}
div#roadListPanel{width: 100%; position: static;overflow-x:auto; overflow-y: hidden; top:0;left:0; display:block;cursor:default;clear: both;}
ul#riddleList {width: 100%; position: static; margin:0 auto;}
ul#roadList {position: relative;white-space:nowrap;top:0;left:0;bottom:0;margin:0 auto; display:table}
ul#riddleList li,ul#roadList li{border: 2px solid gray; list-style: none; cursor:default;  
                                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                                -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                                box-sizing: border-box;         /* Opera/IE 8+ */
}   
ul#riddleList li {width: 100%;display:table;table-layout: fixed;}
ul#roadList li {display: table-cell;}
div.handle,div.nohandle {background: #f8f8f8; position: relative; width: 30px; display:table-cell;vertical-align: middle}
div.handle {cursor: n-resize}
div.modifyRiddle, div.modifyRoad{position: relative; display:table-cell;vertical-align: middle; text-align: center; width: 20px}
div.nameRiddle, div.roadname{ padding-left: 5px;padding-right: 5px;position: relative; display:table-cell; text-align: center;vertical-align: middle;text-overflow:ellipsis; white-space: nowrap; overflow: hidden; }
input#modRoadName{text-align: center;}
.ui-selecting { background: #eee; }
.ui-selected { background: rgba(22,145,190,0.2); }
.sortable-number { font-weight: bold;}
.riddle_valid { 
    box-shadow: 0 0 10px #5cd053;
    border-color: #28921f;
    border-width: 15px;
}
.riddle_invalid { 
    box-shadow: 0 0 10px #d45252;
    border-color: #b03535;
    border-width: 15px;

}
.ui-icon-trash, .ui-icon-pencil,.ui-icon-alert,.ui-icon-info  {cursor:pointer;}
.ui-autocomplete-loading {
    background: white url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif") right center no-repeat;
}
/** Usado para meter el icono dentro del input**/
#searchContainer {
    display: inline-block;
    position:relative;
    padding:0;
    margin-left: 1%;
}
#searchAddress {
    margin:0 auto;
    padding-left: 30px;
}
#searchIcon {
    position:absolute;
    bottom:8px;
    left:9px;
    width:15px;
}
/**usado para mostrar la x dentro de la busqueda **/
.clearable{
    background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}
/* Usado para el resizable**/

.egrip-container{
    position: absolute;
    top: 70px;
    right: -35px;
    cursor:pointer;
    z-index: 90;
}
/* Usado para la tabla**/
.path-mod-treasurehunt .successfulattempt,.path-mod-treasurehunt .successwithoutfailures{
    background-color: #5cd053 !important;
    color:black !important;
}
.path-mod-treasurehunt .failedattempt,.path-mod-treasurehunt .failure{
    background-color: #d45252 !important;
    color:black !important;
}
.path-mod-treasurehunt .successwithfailures{
    background-color: #EBF044 !important;
    color:black !important;
}
.path-mod-treasurehunt .noattempt{
    background-color: #C0C0C0 !important;
    color:black !important;
}
.path-mod-treasurehunt .singlebutton,.path-mod-treasurehunt .treasurehuntinfo{
    text-align: center;
}