/de.loskutov.FileSync.prefs
/org.eclipse.php.core.prefs
/org.eclipse.wst.common.project.facet.core.xml
/.jsdtscope
/org.eclipse.php.formatter.core.prefs
/org.eclipse.php.ui.prefs
/org.eclipse.wst.jsdt.ui.superType.container
/org.eclipse.wst.jsdt.ui.superType.name
/org.eclipse.wst.validation.prefs
/org.phpsrc.eclipse.pti.tools.codesniffer.prefs
/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
/org.eclipse.php.server.core.phpServersPrefs.prefs
