{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_treasurehunt/mobile_view_page

    Template for the mobile view page.

    Classes required for JS:
    -

    Data attributes required for JS:
    -

    Context variables required for this template:
    * cmid
    * courseid
    * treasurehunt
    * options

    Example context (json):
    {
      "cmid": "62",
      "courseid": "3",
      "treasurehunt": {
        "id": "4",
        "course": "3",
        "name": "Group choice activity",
        "intro": "<p>Select your group</p>",
        "introformat": "1",
        "publish": "1",
        "multipleenrollmentspossible": "1",
        "showresults": "3",
        "display": "0",
        "allowupdate": "0",
        "showunanswered": "0",
        "limitanswers": "1",
        "timeopen": "0",
        "timeclose": "0",
        "timemodified": "1528114222",
        "completionsubmit": "0",
        "sortgroupsby": "0",
        "option": {
          "10": "3",
          "11": "4",
          "12": "5"
        },
        "grpmemberid": {
          "6": [
            "3",
            "2"
          ],
        },
        "maxanswers": {
          "12": "1",
          "11": "2",
          "10": "2"
        },
        "open": true,
        "expired": false,
        "alloptionsdisabled": false
      },
      "options": [
        {
          "id": 10,
          "groupid": "3",
          "name": "Group 1",
          "maxanswers": "1",
          "displaylayout": "0",
          "countanswers": 2,
          "checked": false,
          "disabled": true
        },
        {
          "id": 11,
          "groupid": "4",
          "name": "Group 2",
          "maxanswers": "2",
          "displaylayout": "0",
          "countanswers": 1,
          "checked": true,
          "disabled": false
        },
        {
          "id": 12,
          "groupid": "5",
          "name": "Group 3",
          "maxanswers": "2",
          "displaylayout": "0",
          "countanswers": 0,
          "checked": false,
          "disabled": false
        }
      ]
    }
}}

{{=<% %>=}}
<div id="treasurehunt-play-page" *ngIf="treasureHuntPlayMobile" class="treasurehunt-play-page">
    <core-navbar-buttons #content end>
      <button ion-button icon-only (click)="treasureHuntPlayMobile.launchTutorial()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <button ion-button icon-only core-site-plugins-new-content title="{{'plugin.mod_treasurehunt.search' | translate}}" 
        component="mod_treasurehunt" method="mobile_treasurehunt_play_search" [jsData]="searchPageData" [preSets]="{getFromCache: 1, saveToCache: 1}">
        <ion-icon name="search"></ion-icon>
      </button>
    </core-navbar-buttons>

    <div class="treasureoverlay" *ngIf="treasureHuntPlayMobile.gameStatus.roadFinished">
      {{'plugin.mod_treasurehunt.roadended'| translate}}
    </div> 

    <div id="map" class="treasurehunt-map-container"></div>

    <!-- Bottom buttons -->
    <div class="play-tools-container" *ngIf="!treasureHuntPlayMobile.gameStatus.roadFinished">
      <button id="validate-location" *ngIf="treasureHuntPlayMobile.gameStatus.showValidateLocationButton" ion-button icon-only class="btn play-btn" (click)="treasureHuntPlayMobile.showValidateLocation()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button id="clue-button" ion-button icon-start class="btn play-highlight-btn" core-site-plugins-new-content title="{{'plugin.mod_treasurehunt.clue' | translate}}" 
          component="mod_treasurehunt" method="mobile_treasurehunt_play_clue" [jsData]="cluePageData" [preSets]="{getFromCache: 1, saveToCache: 1}">
        <ion-icon name="key"></ion-icon>
        {{'plugin.mod_treasurehunt.showclue' | translate}}
      </button>
      <button *ngIf="treasureHuntPlayMobile.gameStatus.showQRButton" ion-button icon-only class="btn play-btn" (click)="treasureHuntPlayMobile.scanQR()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </div>

    <div class="map-tools-container">
      <button id="autolocate" *ngIf="!treasureHuntPlayMobile.playConfig.playwithoutmoving" ion-button 
        icon-only class="btn play-btn" (click)="treasureHuntPlayMobile.centerOnUserPosition()">
          <ion-icon name="pin"></ion-icon>
      </button>
      <button ion-button icon-only class="btn play-btn" core-site-plugins-new-content title="{{'plugin.mod_treasurehunt.layers' | translate}}" 
          component="mod_treasurehunt" method="mobile_treasurehunt_play_layers" [jsData]="layersPageData" [preSets]="{getFromCache: 1, saveToCache: 1}">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </button>
    </div>

    <!--Info stage popup-->
    <div class="play-modal" [class.active]="treasureHuntPlayMobile.infoPopup.show" 
      data-animation="slideInOutTop">
      <!-- modal mask -->
      <div class="modal-mask" (click)="treasureHuntPlayMobile.closeInfoPopup()"></div>

      <div class="play-modal-popup">
        <!-- Header -->
        <nav class="play-navbar">
          <span class="title">{{treasureHuntPlayMobile.infoPopup.title}}</span>
          <button ion-button icon-only clear round (click)="treasureHuntPlayMobile.closeInfoPopup()">  
            <ion-icon name="close"></ion-icon>
          </button>
        </nav>

        <div class="play-modal-content">
            <core-format-text  [text]="treasureHuntPlayMobile.infoPopup.content"></core-format-text>
        </div>
      </div>
    </div>

  
    <!--Notifications popup -->
    <div class="play-modal" [class.active]="treasureHuntPlayMobile.notificationsPopup.show" 
      data-animation="slideInOutTop">
      <!-- modal mask -->
      <div class="modal-mask"></div>

      <div class="play-modal-popup">
        <!-- Header -->
        <nav class="play-navbar">
          <span class="title">{{'plugin.mod_treasurehunt.updates' | translate}}</span>
        </nav>

        <div class="play-modal-content">
          <div [innerHtml]="treasureHuntPlayMobile.notificationsPopup.content"></div>
        </div>

        <div class="play-modal-footer">
          <button ion-button icon-start (click)="treasureHuntPlayMobile.acceptNotifications()">
            <ion-icon name="checkmark"></ion-icon>
            {{'plugin.mod_treasurehunt.continue' | translate}}
          </button>
        </div>
      </div>
    </div>


    <!--Error popup -->
    <div class="play-modal" [class.active]="treasureHuntPlayMobile.errorPopup.show" 
      data-animation="slideInOutTop">
      <!-- modal mask -->
      <div class="modal-mask"></div>

      <div class="play-modal-popup">
        <!-- Header -->
        <nav class="play-navbar">
          <span class="title">{{'plugin.mod_treasurehunt.error' | translate}}</span>
        </nav>

        <div class="play-modal-content">
          <p>{{treasureHuntPlayMobile.errorPopup.content}}</p>
        </div>

        <div class="play-modal-footer">
          <button ion-button icon-start (click)="treasureHuntPlayMobile.closeErrorPopup()">
            <ion-icon name="checkmark"></ion-icon>
            {{'plugin.mod_treasurehunt.continue' | translate}}
          </button>
        </div>
      </div>
    </div> 


</div>