{{!                                                                                                                                 
    This file is part of Moodle - http://moodle.org/                                                                                
                                                                                                                                    
    Moodle is free software: you can redistribute it and/or modify                                                                  
    it under the terms of the GNU General Public License as published by                                                            
    the Free Software Foundation, either version 3 of the License, or                                                               
    (at your option) any later version.                                                                                             
                                                                                                                                    
    Moodle is distributed in the hope that it will be useful,                                                                       
    but WITHOUT ANY WARRANTY; without even the implied warranty of                                                                  
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                                                   
    GNU General Public License for more details.                                                                                    
                                                                                                                                    
    You should have received a copy of the GNU General Public License                                                               
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.                                                                 
}}                                                                                                                                  
{{!                                                                                                                                 
    @template core/pix_icon                                                                                                         
                                                                                                                                    
    Moodle pix_icon template.                                                                                                       
                                                                                                                                    
    The purpose of this template is to render a pix_icon.                                                                           
                                                                                                                                    
    Classes required for JS:                                                                                                        
    * none                                                                                                                          
                                                                                                                                    
    Data attributes required for JS:                                                                                                
    * none                                                                                                                          
                                                                                                                                    
    Context variables required for this template:                                                                                   
    * attributes Array of name / value pairs.                                                                                       
                                                                                                                                    
    Example context (json):                                                                                                         
    {                                                                                                                               
        "attributes": [                                                                                                             
            { "name": "src", "value": "http://moodle.com/wp-content/themes/moodle/images/logo-hat2.png" },                          
            { "name": "class", "value": "iconsmall" }                                                                               
        ]                                                                                                                           
    }                                                                                                                               
                                                                                                                                    
}}

<div class="play-container">
    <div class="global-loader active">
        {{> treasurehunt/loading_animation }}
    </div>
    {{! Main map page }}
    <div class="map-page">
        <!-- sidebar mask -->
        <div class="sidebar-mask"></div>

        <!-- Sidebar info-->
        <div id="infopanel" class="sidebar sidebar-left">
            <!-- Header -->
            <nav class="play-navbar map-navbar">
                <button class="btn close-sidebar">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <span class="title">{{#str}} info, mod_treasurehunt{{/str}}</span>
            </nav>

            <div class="sidebar-content">
                <!--<h5>{{{user.picture}}} {{user.name}}</h5> -->
                <div class="card">
                    <div class="card-body">
                         <div class="card-title d-flex justify-content-between align-items-start">
                            <h5>{{treasurehunt.name}}</h5>
                        </div>
                        <p class="card-text">{{{treasurehunt.description}}}</p>
                        <a href="view.php?id={{cmid}}" class="btn play-btn">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            {{#str}} exit, mod_treasurehunt{{/str}}
                        </a>
                    </div>
                 </div>

              <!--   <div id="accordion">
                    {{#hasdescription}}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    {{treasurehunt.name}}
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {{{treasurehunt.description}}}
                            </div>
                        </div>
                    </div>
                    {{/hasdescription}}
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button id="lastsuccessfulstagename" class="btn btn-link collapsed" data-toggle="collapse" data-target="#lastsuccessfulstage" aria-expanded="false" aria-controls="lastsuccessfulstage">
                                 <span id="lastsuccesfulstagepos" class="badge badge-light"></span> 
                                </button>
                            </h5>
                        </div>
                        <div id="lastsuccessfulstage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" id="lastsuccessfulstageclue">
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>

        <!-- Sidebar search-->
        <div id="searchpanel" class="sidebar sidebar-left">
            <!-- Header -->
            <nav class="play-navbar map-navbar">
                <button class="btn close-sidebar">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <span class="title">{{#str}} search, mod_treasurehunt{{/str}}</span>
            </nav>
            <div class="card">
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="search" id="searchInput" class="form-control" placeholder="Find a place..." aria-label="Search">
                    </div>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="search-loading">
                    {{#pix}} loading, treasurehunt, Loading {{/pix}}
                </div>
                <div id="searchsResults" class="list-group"></div>
            </div>
        </div>



        <!-- Page Content -->
        <div class="page-content-wrapper">
            <!-- Header -->
            <nav class="play-navbar map-navbar">
                {{! <button class="btn" data-rel="sidebar" data-ref="#infopanel" data-dismissible>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button> }}
                <button class="btn" data-rel="sidebar" data-ref="#searchpanel" data-dismissible>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <span class="title">{{#pix}} treasurechest, treasurehunt, treasurehunt icon {{/pix}} {{treasurehunt.name}}</span>
                <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    {{{user.picture}}}
                </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="view.php?id={{cmid}}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            {{#str}} exit, mod_treasurehunt{{/str}}
                        </a>
                </div>
            </nav>
            <!-- Map Container -->
            <div class="map-container">
                <div id="mapplay"></div>
            </div>
            <!-- Bottom buttons -->
            <div class="play-tools-container">
                <button class="btn play-btn" id="validatelocation" data-rel="modal" data-ref="#confirmLocationDialog"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="btn play-highlight-btn" data-rel="modal" data-ref="#cluepage" data-dismissible>
                    <i class="fa fa-key" aria-hidden="true"></i>
                    Mostrar Pista
                </button>
                {{! <button class="btn play-btn" data-rel="modal" data-ref="#cluepage" data-dismissible><i class="fa fa-list-ul" aria-hidden="true"></i></button>
               }}
                <button class="btn play-btn" data-rel="modal" data-ref="#layerspage" data-dismissible><i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>

            <button class="btn play-btn geolocation-btn" id="autolocate"><i class="fa fa-map-marker" aria-hidden="true"></i></button> 

        </div>
        <!-- /#page-content-wrapper -->
    </div>
    {{! end map page }}

    {{!Popup for QR scanner}}
    <div class="play-modal" data-animation="slideInOutTop" id="QRdialog">
        <!-- modal mask -->
        <div class="modal-mask"></div>

        <div class="play-modal-dialog">
            <!-- Header -->
            <nav class="play-navbar">
                <span class="title">{{#str}} scanQR_scanbutton, mod_treasurehunt{{/str}}</span>
            </nav>

            <div data-role="content" class="ui-content ui-overlay-b">			    
		           <script type="text/javascript" src="js/instascan/instascan.min.js"></script>
		        <div id="previewVideoDiv"><center><video playsinline id="previewQRvideo" style="display:none;width:100%;height:100%"></video><center></div>
                <div id="previewQRbuttons" class="ui-block-a">
                    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow  ui-btn-inline ui-btn-b">
                        {{#str}} cancel, mod_treasurehunt{{/str}}
                    </a><a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-btn-inline ui-icon-camera ui-btn-icon-notext" id="nextcamera"></a>
	                <div id="errorQR" style="display:inline">Camera</div>
                </div>   
            </div>
        </div>
    </div>

    {{!Popup for location confirmation}}
    {{< treasurehunt/popup_play_page}}
        {{$popupid}}confirmLocationDialog{{/popupid}}
        {{$popuptitle}}
            {{#str}} sendlotaciontitle, mod_treasurehunt{{/str}}
        {{/popuptitle}}
        {{$popupcontent}}
            <p>{{#str}} sendlotacioncontent, mod_treasurehunt{{/str}}</p>
        {{/popupcontent}}
        {{$popupfooter}}
            <button type="button" class="btn play-btn close-modal" id="sendLocation">
                <i class="fa fa-check" aria-hidden="true"></i>
                {{#str}} send, mod_treasurehunt{{/str}}
            </button>
            <button type="button" class="btn play-btn close-modal">
                <i class="fa fa-times" aria-hidden="true"></i>
                {{#str}} cancel, mod_treasurehunt{{/str}}
            </button>
        {{/popupfooter}}
    {{/treasurehunt/popup_play_page}}

    {{!Dialog layer page}}
    {{< treasurehunt/dialog_play_page}}
        {{$dialogid}}layerspage{{/dialogid}}
        {{$dialogtitle}}
            {{#str}} layers, mod_treasurehunt{{/str}}
        {{/dialogtitle}}
        {{$dialogcontent}}
            <h5 class="card-title">{{#str}} mapview, mod_treasurehunt{{/str}}</h5>
            <div class="list-group" id="layerslist"></div>        
        {{/dialogcontent}}
    {{/treasurehunt/dialog_play_page}}

    {{!Dialog clue page}}
    {{< treasurehunt/dialog_play_page}}
        {{$dialogid}}cluepage{{/dialogid}}
        {{$dialogtitle}}
            {{#str}} clue, mod_treasurehunt{{/str}}
        {{/dialogtitle}}
        {{$dialogcontent}}
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between align-items-start">
                        <h5  id="lastsuccessfulstagename2"></h5>
                        <span class="badge badge-dark" id="lastsuccesfulstagepos2"></span>
                    </div>
                    <p class="card-text" id="lastsuccessfulstageclue2"></p>
                </div>
            </div>      
        {{/dialogcontent}}
    {{/treasurehunt/dialog_play_page}}
   
    {{!Popup question page}}
    <div class="play-modal" data-animation="slideInOutTop" id="questionpage">
        <!-- modal mask -->
        <div class="modal-mask"></div>

        <div class="play-modal-dialog">
            <!-- Header -->
            <nav class="play-navbar">
                <button class="btn close-modal">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <span class="title">{{#str}} question, mod_treasurehunt{{/str}}</span>
            </nav>

            <div data-role="content">
                <form>  
                    <fieldset data-role="controlgroup" id='questionform'>
                    </fieldset>
                </form>
                <fieldset class="ui-grid-a">
                    <div class="ui-block-a"><a href="#mappage" class="ui-btn ui-corner-all ui-shadow  ui-btn-b" data-transition="none">
                            {{#str}} cancel, mod_treasurehunt{{/str}}
                        </a>
                    </div>
                    <div class="ui-block-b"><a href="#" class="ui-btn ui-corner-all ui-shadow  ui-btn-b"  data-transition="none" id="sendAnswer">
                            {{#str}} send, mod_treasurehunt{{/str}}
                        </a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

</div>
 
    {{!Fin de pagina de capas.}}
    {{!Pagina de historial de intentos.}}
    {{!Fin de pagina de historial de intentos.}}
    {{!Pagina de reponder pregunta.}}
    {{!Fin de pagina de reponder pregunta.}}
{{#js}}
require(['jquery'], function($) {
    {{! SIDEBAR }}
    $('*[data-rel="sidebar"]').on("click", (e)=> {
        const target = e.currentTarget;
        const sidebar = $(target.dataset.ref);
        sidebar.trigger("sidebar:open");
        sidebar.addClass("active");
        if(target.dataset.dismissible != null){
            $(".sidebar-mask").addClass("active dismissible");
        }
    });

    $('.close-sidebar, .sidebar-mask').on("click", ()=> {
        const sidebars = $(".sidebar.active");
        sidebars.trigger("sidebar:close");
        sidebars.removeClass("active");
        $(".sidebar-mask").removeClass("active dismissible");
    });

    {{! MODAL PAGE }}
    $('*[data-rel="modal"]').on("click", (e)=> {
        const target = e.currentTarget;
        $(target.dataset.ref).addClass("active");
        $(target.dataset.ref + " .modal-mask").addClass("active");
        if(target.dataset.dismissible != null){
             $(target.dataset.ref + " .modal-mask").addClass("dismissible");
        }
    });

    $(document).on("click", ".close-modal, .modal-mask.dismissible", ()=> {
        $(".play-modal").removeClass("active");
        $(".modal-mask").removeClass("active dismissible");
    });
});
{{/js}}