{{!                                                                                                                                 
    This file is part of Moodle - http://moodle.org/                                                                                
                                                                                                                                    
    Moodle is free software: you can redistribute it and/or modify                                                                  
    it under the terms of the GNU General Public License as published by                                                            
    the Free Software Foundation, either version 3 of the License, or                                                               
    (at your option) any later version.                                                                                             
                                                                                                                                    
    Moodle is distributed in the hope that it will be useful,                                                                       
    but WITHOUT ANY WARRANTY; without even the implied warranty of                                                                  
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                                                   
    GNU General Public License for more details.                                                                                    
                                                                                                                                    
    You should have received a copy of the GNU General Public License                                                               
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.                                                                 
}}                                                                                                                                  
{{!                                                                                                                                 
    @template core/pix_icon                                                                                                         
                                                                                                                                    
    Moodle pix_icon template.                                                                                                       
                                                                                                                                    
    The purpose of this template is to render a pix_icon.                                                                           
                                                                                                                                    
    Classes required for JS:                                                                                                        
    * none                                                                                                                          
                                                                                                                                    
    Data attributes required for JS:                                                                                                
    * none                                                                                                                          
                                                                                                                                    
    Context variables required for this template:                                                                                   
    * attributes Array of name / value pairs.                                                                                       
                                                                                                                                    
    Example context (json):                                                                                                         
    {                                                                                                                               
        "attributes": [                                                                                                             
            { "name": "src", "value": "http://moodle.com/wp-content/themes/moodle/images/logo-hat2.png" },                          
            { "name": "class", "value": "iconsmall" }                                                                               
        ]                                                                                                                           
    }                                                                                                                               
                                                                                                                                    
}}

<div class="play-container">
    {{! Main map page }}
    <div class="map-page">
        <!-- sidebar mask -->
        <div class="sidebar-mask"></div>

        <!-- Sidebar info-->
        <div id="infopanel" class="sidebar sidebar-left">
            <!-- Header -->
            <nav class="play-navbar">
                <button class="btn close-sidebar">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <span class="title">{{#str}} info, mod_treasurehunt{{/str}}</span>
            </nav>

            <div class="sidebar-content">
                <div class="card">
                    <div class="card-body">
                        <h5>{{{user.picture}}} {{user.name}}</h5>
                        <a href="view.php?id={{cmid}}" class="btn play-btn">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            {{#str}} exit, mod_treasurehunt{{/str}}
                        </a>
                    </div>
                 </div>

                 <div id="accordion">
                    {{#hasdescription}}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    {{treasurehunt.name}}
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {{{treasurehunt.description}}}
                            </div>
                        </div>
                    </div>
                    {{/hasdescription}}
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Sidebar search-->
        <div id="searchpanel" class="sidebar sidebar-right">
            <!-- Header -->
            <nav class="play-navbar">
                <span class="title">{{#str}} search, mod_treasurehunt{{/str}}</span>
                <button class="btn close-sidebar">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </nav>
            <div class="card">
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="search" id="searchInput" class="form-control" placeholder="Find a place..." aria-label="Search">
                    </div>
                </div>
            </div>
            <div class="sidebar-content">
                <ul id="searchsResults" class="search-results-container"></ul>
            </div>
        </div>



        <!-- Page Content -->
        <div class="page-content-wrapper">
            <!-- Header -->
            <nav class="play-navbar">
                <button class="btn" data-rel="sidebar" data-ref="#infopanel" data-dismissible>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <span class="title">{{#pix}} treasurechest, treasurehunt, treasurehunt icon {{/pix}} {{treasurehunt.name}}</span>
                <button class="btn" data-rel="sidebar" data-ref="#searchpanel" data-dismissible>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </nav>
            <!-- Map Container -->
            <div class="map-container">
                <div id="mapplay"></div>
            </div>
            <!-- Bottom buttons -->
            <div class="play-tools-container">
                <button class="btn play-btn"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="btn play-btn" data-rel="modal" data-ref="#layerspage" data-dismissible><i class="fa fa-list-ul" aria-hidden="true"></i></button>
                <button class="btn play-btn" data-rel="modal" data-ref="#historypage" data-dismissible><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                <button class="btn play-btn"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    {{! end map page }}

    {{!Popup for QR scanner}}
    <div class="play-modal" data-animation="slideInOutTop" id="QRdialog">
        <!-- modal mask -->
        <div class="modal-mask"></div>

        <div class="play-modal-dialog">
            <!-- Header -->
            <nav class="play-navbar">
                <span class="title">{{#str}} SCAN QR, mod_treasurehunt{{/str}}</span>
            </nav>

            <div data-role="content" class="ui-content ui-overlay-b">			    
		           <script type="text/javascript" src="js/instascan/instascan.min.js"></script>
		        <div id="previewVideoDiv"><center><video playsinline id="previewQRvideo" style="display:none;width:100%;height:100%"></video><center></div>
                <div id="previewQRbuttons" class="ui-block-a">
                    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow  ui-btn-inline ui-btn-b">
                        {{#str}} cancel, mod_treasurehunt{{/str}}
                    </a><a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-btn-inline ui-icon-camera ui-btn-icon-notext" id="nextcamera"></a>
	                <div id="errorQR" style="display:inline">Camera</div>
                </div>   
            </div>
        </div>
    </div>



    {{!Popup layer page}}
    <div class="play-modal" data-animation="slideInOutTop" id="layerspage">
        <!-- modal mask -->
        <div class="modal-mask"></div>

        <div class="play-modal-dialog">
            <!-- Header -->
            <nav class="play-navbar">
                <button class="btn close-modal">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <span class="title">{{#str}} layers, mod_treasurehunt{{/str}}</span>
            </nav>

            <div data-role="content">
                <ul data-role="listview" data-inset="true" data-theme="b" data-divider-theme="b" id="layerslist">
                    <li data-role="list-divider" id="baseLayer">{{#str}} mapview, mod_treasurehunt{{/str}}</li>
                </ul>
            </div>
        </div>
    </div>

    {{!Popup historical attempts page}}
    <div class="play-modal" data-animation="slideInOutTop" id="historypage">
        <!-- modal mask -->
        <div class="modal-mask"></div>

        <div class="play-modal-dialog">
            <!-- Header -->
            <nav class="play-navbar">
                <button class="btn close-modal">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <span class="title">{{#str}} history, mod_treasurehunt{{/str}}</span>
            </nav>

            <div data-role="content">
                <div id="lastsuccessfulstage2" data-role="collapsible" data-collapsed="false" >
                    <h3>
                        <div class="custom-count-pos ui-body-b" id="lastsuccesfulstagepos2"></div>
                        {{#str}} stageclue, mod_treasurehunt{{/str}} : <span id="lastsuccessfulstagename2"></span>
                    </h3>
                    <div>
                        <p id="lastsuccessfulstageclue2"></p>
                    </div>
                </div>
                <div id="lastsuccessfulstage23" data-role="collapsible"  data-collapsed="false" >
                    <h3>{{#str}} history, mod_treasurehunt{{/str}}</h3>
                        <ol data-role="listview" data-inset="true" data-theme="b"  id="historylist">
                            <li>{{#str}} noattempts, mod_treasurehunt{{/str}}</li>
                        </ol>
                </div>
            </div>
        </div>
    </div>

    {{!Popup question page}}
    <div class="play-modal" data-animation="slideInOutTop" id="questionpage">
        <!-- modal mask -->
        <div class="modal-mask"></div>

        <div class="play-modal-dialog">
            <!-- Header -->
            <nav class="play-navbar">
                <button class="btn close-modal">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <span class="title">{{#str}} question, mod_treasurehunt{{/str}}</span>
            </nav>

            <div data-role="content">
                <form>  
                    <fieldset data-role="controlgroup" id='questionform'>
                    </fieldset>
                </form>
                <fieldset class="ui-grid-a">
                    <div class="ui-block-a"><a href="#mappage" class="ui-btn ui-corner-all ui-shadow  ui-btn-b" data-transition="none">
                            {{#str}} cancel, mod_treasurehunt{{/str}}
                        </a>
                    </div>
                    <div class="ui-block-b"><a href="#" class="ui-btn ui-corner-all ui-shadow  ui-btn-b"  data-transition="none" id="sendAnswer">
                            {{#str}} send, mod_treasurehunt{{/str}}
                        </a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

</div>
 
    {{!Fin de pagina de capas.}}
    {{!Pagina de historial de intentos.}}
    {{!Fin de pagina de historial de intentos.}}
    {{!Pagina de reponder pregunta.}}
    {{!Fin de pagina de reponder pregunta.}}
{{#js}}
require(['jquery'], function($) {
    {{! SIDEBAR }}
    $('*[data-rel="sidebar"]').on("click", (e)=> {
        const target = e.currentTarget;
        $(target.dataset.ref).addClass("active");
        if(target.dataset.dismissible != null){
            $(".sidebar-mask").addClass("active dismissible");
        }
    });

    $('.close-sidebar, .sidebar-mask').on("click", ()=> {
        $(".sidebar").removeClass("active");
        $(".sidebar-mask").removeClass("active dismissible");
    });

    {{! MODAL PAGE }}
    $('*[data-rel="modal"]').on("click", (e)=> {
        const target = e.currentTarget;
        $(target.dataset.ref).addClass("active");
        $(target.dataset.ref + " .modal-mask").addClass("active");
        if(target.dataset.dismissible != null){
             $(target.dataset.ref + " .modal-mask").addClass("dismissible");
        }
    });

    $(document).on("click", ".close-modal, .modal-mask.dismissible", ()=> {
        $(".play-modal").removeClass("active");
        $(".modal-mask").removeClass("active dismissible");
    });
});
{{/js}}